@import "styles/variaveis";
@import "styles/breakpoints";

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px $padding-horizontal;

  @media (max-width: $desktop_xsm) {
    padding: 15px $padding-horizontal-mobile;
    flex-direction: column;
    gap: 15px;
  }

  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 20px $padding-horizontal-sm;
  }

  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 20px $padding-horizontal-md;
  }

  &__logo {
    width: 180px;
    @media (max-width: $desktop_xsm) {
      width: 140px;
    }
  }

  &__list {
    display: flex;
    gap: 15px;

    @media (max-width: $desktop_xsm) {
      width: 100%;
      justify-content: center;
      gap: 10px 20px;
    }
  }

  &__link {
    list-style-type: none;

    a {
      color: $dark;

      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
      transition: 0.2s ease;
      white-space: nowrap;

      &:hover {
        color: $dark-grey;
      }

      @media (max-width: $desktop_xsm) {
        &:not(:last-child) {
          margin-right: 0;
        }

        @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
          font-size: 1.3rem;
        }
      }
    }
  }
}
